<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only: <%= title %></title>
    <link rel="stylesheet" href="/all.css">
</head>
<body>
    <h1><%= title %></h1>
    <div class="top">
        <% if (user) { %>
            <h2>Hi <%= user.full_name %></h2>
            <a href="/logout">Logout</a>
            <a href="/messages/new">Create a new message</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </div>
    <div class="container">
        <% messages.forEach(message => { %>
         <div class="message">
            <h3><%= message.title %></h3>
            <% if (user && user.is_admin) { %>
                <form action="/messages/delete" method="post">
                    <input type="hidden" name="message_id" value="<%= message.id %>">
                    <button type="submit">Delete</button>
                </form>
            <% } %>
            <p><b>User: </b><%= user && user.member === true ? message.user : 'you must be a member to view' %></p>
            <p><b>Date: </b><%= user && user.member === true ? message.post_date : 'you must be a member to view' %></p>
            <p><%= message.content %></p>
         </div>
        <% }) %>
    </div>
</body>
</html>